<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body class="bg-gray-50 text-gray-800">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <% unless @skip_layout_body %>
  <header class="w-full bg-white shadow-md">
    <div class="max-w-5xl mx-auto px-6 py-4 flex justify-between items-center">
      <h1 class="text-xl font-semibold"><%= t("title") %></h1>

      <div class="flex items-center space-x-2">
        <%= link_to language_path, class: "flex items-center text-sm text-gray-600 hover:text-blue-600 transition-colors" do %>
          
          Cambia lingua / Change language
        <% end %>
      </div>
    </div>
  </header>
  <% end %>
  <main>
    <%= yield %>
  </main>
</body>

</html>
